extends layout

block content
  .container
    h1 ABOUT
    p.flow-text Shanna is currently a student at Ada Developers Academy. This was built as her month-long capstone project.
    h5 Contact
    i.fa.fa-github-square.fa-3x
    i.fa.fa-linkedin-square.fa-3x
    i.fa.fa-twitter-square.fa-3x
