extends layout

block content
  .container
    h1 ABOUT
    p Shanna is currently a student at Ada Developers Academy. This was built as her month-long capstone project.
    p In her previous life, she earned a degree in Economics from UCLA and worked as an Executive Assistant at merchandising and licensing company.
    
    h5 Contact
    a(href='https://github.com/shannachau', target='_blank')
      i.fa.fa-github-square.fa-3x
    a(href='https://www.linkedin.com/pub/shanna-chau/74/aa4/144', target='_blank')
      i.fa.fa-linkedin-square.fa-3x
    a(href='https://twitter.com/shannachau', target='_blank')
      i.fa.fa-twitter-square.fa-3x
