extends layout

block content
  .container
    .xylophone
      button.a.key.pink.lighten-1.valign-wrapper.hoverable.btn
        p C
      button.s.key.red.lighten-1.valign-wrapper.hoverable.btn
        p D
      button.d.key.orange.lighten-1.valign-wrapper.hoverable.btn
        p E
      button.f.key.yellow.lighten-1.valign-wrapper.hoverable.btn
        p F
      button.g.key.green.lighten-1.valign-wrapper.hoverable.btn
        p G
      button.h.key.cyan.lighten-1.valign-wrapper.hoverable.btn
        p A
      button.j.key.blue.lighten-1.valign-wrapper.hoverable.btn
        p B
      button.k.key.purple.lighten-1.valign-wrapper.hoverable.btn
        p C
        
    .p Click on the tiles or press 1-8 on your keyboard.
