extends layout

block content
  .container
    .xylophone
      button.1.key.pink.lighten-1.valign-wrapper.hoverable.btn
        p C
      button.2.key.red.lighten-1.valign-wrapper.hoverable.btn
        p D
      button.3.key.orange.lighten-1.valign-wrapper.hoverable.btn
        p E
      button.4.key.yellow.lighten-1.valign-wrapper.hoverable.btn
        p F
      button.5.key.green.lighten-1.valign-wrapper.hoverable.btn
        p G
      button.6.key.cyan.lighten-1.valign-wrapper.hoverable.btn
        p A
      button.7.key.blue.lighten-1.valign-wrapper.hoverable.btn
        p B
      button.8.key.purple.lighten-1.valign-wrapper.hoverable.btn
        p C
        
    .p.center Click on the tiles or press 1-8 on your keyboard.
    
    ul.collection.songs
      li.collection-item Mary Had a Little Lamb
        i.material-icons.right.mary play_arrow
      li.collection-item Something here
        i.material-icons.right play_arrow
      li.collection-item Blah Blah
        i.material-icons.right play_arrow
      li.collection-item Whatever
        i.material-icons.right play_arrow
        
      
      
    
    
