// **COMMENTS** ARE FOR ADVANCED/CUSTOMIZATION SET UP

extends layout

block content
  .audio-embeds
    audio#c1
      source(src='media/c1.wav')(type='audio/wav')
    audio#d
      source(src='media/d.wav')(type='audio/wav')    
    audio#e
      source(src='media/e.wav')(type='audio/wav')    
    audio#f
      source(src='media/f.wav')(type='audio/wav')
    audio#g
      source(src='media/g.wav')(type='audio/wav')
    audio#a
      source(src='media/a.wav')(type='audio/wav')
    audio#b
      source(src='media/b.wav')(type='audio/wav')
    audio#c2
      source(src='media/c2.wav')(type='audio/wav')
  .container
    .xylophone
      button.1.key.pink.lighten-1.valign-wrapper.hoverable.btn
        p C
      button.2.key.red.lighten-1.valign-wrapper.hoverable.btn
        p D
      button.3.key.orange.lighten-1.valign-wrapper.hoverable.btn
        p E
      button.4.key.yellow.lighten-1.valign-wrapper.hoverable.btn
        p F
      button.5.key.green.lighten-1.valign-wrapper.hoverable.btn
        p G
      button.6.key.cyan.lighten-1.valign-wrapper.hoverable.btn
        p A
      button.7.key.blue.lighten-1.valign-wrapper.hoverable.btn
        p B
      button.8.key.purple.lighten-1.valign-wrapper.hoverable.btn
        p C
      // ** ADD ADDITIONAL KEYS HERE **
        
    .p.center Click on the tiles or press 1-8 on your keyboard.
    
    ul.collection.songs
      li.collection-item Mary Had a Little Lamb
        i.material-icons.right.mary play_arrow
      li.collection-item Miley Cyrus - Wrecking Ball (Intro)
        i.material-icons.right.miley play_arrow
      li.collection-item Fetty Wap - Trap Queen
        i.material-icons.right.fetty play_arrow
      li.collection-item Beyonce - Partition
        i.material-icons.right.beyonce play_arrow
      li.collection-item Somewhere Over the Rainbow
        i.material-icons.right.rainbow play_arrow
