<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/style.css" charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
    <title>XYLOBOT</title>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Logo</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a href="sass.html">Sass</a></li>
          <li><a href="badges.html">Components</a></li>
          <li><a href="collapsible.html">JavaScript</a></li>
        </ul>
      </div>
    </nav>
    <div class="valign-wrapper">
      <div class="container">
        <div class="row">
          <div class="a key pink col s1 offset-s2">C</div>
          <div class="s key red col s1">D</div>
          <div class="d key orange col s1">E</div>
          <div class="f key yellow col s1">F</div>
          <div class="g key green col s1">G</div>
          <div class="h key cyan col s1">A</div>
          <div class="j key blue col s1">B</div>
          <div class="k key purple col s1">C</div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
  </body>
</html>
