extends layout

block content
  .valign-wrapper
    .container
      .row.xylophone
        .a.key.pink.lighten-1.col.s1.offset-s2.valign-wrapper
          p C
        .s.key.red.lighten-1.col.s1.valign-wrapper
          p D
        .d.key.orange.lighten-1.col.s1.valign-wrapper
          p E
        .f.key.yellow.lighten-1.col.s1.valign-wrapper
          p F
        .g.key.green.lighten-1.col.s1.valign-wrapper
          p G
        .h.key.cyan.lighten-1.col.s1.valign-wrapper
          p A
        .j.key.blue.lighten-1.col.s1.valign-wrapper
          p B
        .k.key.purple.lighten-1.col.s1.valign-wrapper
          p C
