extends layout

block content
  .valign-wrapper
    .container
      .row.xylophone
        .a.key.pink.col.s1.offset-s2.valign-wrapper
          p C
        .s.key.red.col.s1.valign-wrapper
          p D
        .d.key.orange.col.s1.valign-wrapper
          p E
        .f.key.yellow.col.s1.valign-wrapper
          p F
        .g.key.green.col.s1.valign-wrapper
          p G
        .h.key.cyan.col.s1.valign-wrapper
          p A
        .j.key.blue.col.s1.valign-wrapper
          p B
        .k.key.purple.col.s1.valign-wrapper
          p C
