<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/style.css" charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
    <title>XYLOBOT</title>
  </head>
  <body>
    <div class="xylophone">
      <div class="a key pink">c</div>
      <div class="s key red">d</div>
      <div class="d key orange">e</div>
      <div class="f key yellow">f</div>
      <div class="g key green">g</div>
      <div class="h key cyan">a</div>
      <div class="j key blue">b</div>
      <div class="k key purple">c</div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
  </body>
</html>
