// **COMMENTS** ARE FOR ADVANCED/CUSTOMIZATION SET UP

extends layout

block content
  .audio-embeds
    audio#audio1
      source(src='audio/c1.wav', type='audio/wav')
    audio#audio2
      source(src='audio/d.wav', type='audio/wav')    
    audio#audio3
      source(src='audio/e.wav', type='audio/wav')    
    audio#audio4
      source(src='audio/f.wav', type='audio/wav')
    audio#audio5
      source(src='audio/g.wav', type='audio/wav')
    audio#audio6
      source(src='audio/a.wav', type='audio/wav')
    audio#audio7
      source(src='audio/b.wav', type='audio/wav')
    audio#audio8
      source(src='audio/c2.wav', type='audio/wav')
  .container
    .row
      i.material-icons.volume.right volume_up
    .row
      .xylophone
        button.1.key.pink.lighten-1.valign-wrapper.hoverable.btn
          p C
        button.2.key.red.lighten-1.valign-wrapper.hoverable.btn
          p D
        button.3.key.orange.lighten-1.valign-wrapper.hoverable.btn
          p E
        button.4.key.yellow.lighten-1.valign-wrapper.hoverable.btn
          p F
        button.5.key.green.lighten-1.valign-wrapper.hoverable.btn
          p G
        button.6.key.cyan.lighten-1.valign-wrapper.hoverable.btn
          p A
        button.7.key.blue.lighten-1.valign-wrapper.hoverable.btn
          p B
        button.8.key.purple.lighten-1.valign-wrapper.hoverable.btn
          p C
      // ** ADD ADDITIONAL KEYS HERE **
        
      .p.center Click on the tiles or press 1-8 on your keyboard.
    
    ul.collection.songs
      li.collection-item Mary Had a Little Lamb
        i.material-icons.right.mary play_arrow
      li.collection-item Miley Cyrus - Wrecking Ball (Intro)
        i.material-icons.right.miley play_arrow
      li.collection-item Fetty Wap - Trap Queen
        i.material-icons.right.fetty play_arrow
      li.collection-item Somewhere Over the Rainbow
        i.material-icons.right.rainbow play_arrow
