extends layout

block content
  .container
    .xylophone
      a.a.key.pink.lighten-1.valign-wrapper.hoverable
        p C
      a.s.key.red.lighten-1.valign-wrapper.hoverable
        p D
      a.d.key.orange.lighten-1.valign-wrapper.hoverable
        p E
      a.f.key.yellow.lighten-1.valign-wrapper.hoverable
        p F
      a.g.key.green.lighten-1.valign-wrapper.hoverable
        p G
      a.h.key.cyan.lighten-1.valign-wrapper.hoverable
        p A
      a.j.key.blue.lighten-1.valign-wrapper.hoverable
        p B
      a.k.key.purple.lighten-1.valign-wrapper.hoverable
        p C
