doctype html
html
  head
    title XYLOBOT
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      .container
        a.button-collapse(href='#')(data-activates='nav-mobile')
          i.material-icons.medium.hide-on-large-only menu
        ul#nav-mobile.side-nav.fixed
          li.logo
            a.brand-logo.center(href='/')
              img(src='images/xylobot-logo.png')
              h4 XYLOBOT
          li.no-padding
            ul.collapsible.collapsible-accordion
              li
                a.collapsible-header Tutorial
                .collapsible-body
                  ul.tutorial-nav
                    li 
                      a(href='tutorial#introduction') Introduction
                    li 
                      a(href='tutorial#materials') Materials
                    li 
                      a(href='tutorial#arduino') Arduino Set-Up
                    li 
                      a(href='tutorial#servo') Servo Set-Up
                    li 
                      a(href='tutorial#repo') Repo Set-Up
                    li 
                      a(href='tutorial#rig') Rig Set-Up
          li
            a(href='/about') About
    main
      block content
    
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='https://cdn.socket.io/socket.io-1.3.7.js')
    script(src='javascripts/main.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js')
