extends layout

block content
  .container
    h1 TUTORIAL
    
    h3 Introduction
    p This tutorial will walk you through how to create an Arduino controlled xylophone that you can control via web app in your browser. Rather than using the Arduino IDE to program our board, we will be using a Javascript framework called        #[a(href='http://johnny-five.io/') Johnny-Five]. This will allow you to easily incorporate other Javascript frameworks, such as #[a(href='http://socket.io/') socket.io], which will allow you to connect the Arduino to a web app. All three components (Arduino, server, and web app) are built using Node.js.
    
    
