extends layout

block content
  .container
    h1 TUTORIAL
    
    h3 Introduction
    p This tutorial will walk you through how to create an Arduino controlled xylophone that you can control via web app in your browser. Rather than using the Arduino IDE to program our board, we will be using a Javascript framework called        #[a(href='http://johnny-five.io/') Johnny-Five]. This will allow you to easily incorporate other Javascript frameworks, such as #[a(href='http://socket.io/') socket.io], which will allow you to connect the Arduino to a web app. All three components (Arduino, server, and web app) are built using Node.js.
    
    p PICTURE OF SCHEMATIC OF HOW THINGS ARE CONNECTED GOES HERE
    
    p This tutorial requires some basic knowledge of the command line and Github. Some experience using an Arduino helps, but is not required!
    
    h3 VIDEO/DEMO HERE
    
    h3 Materials 
    
    .row
      .col.s6
        .card.medium
          .card-image
            img(src='/images/corgi.jpg')
          .card-content
            span.card-title.grey-text.text-darken-4 Arduino UNO board
              i.material-icons.right more_vert
            p     
              a(href='http://store-usa.arduino.cc/products/a000066') Specs
        
        
    
    ul.collapsible.popout(data-collapsible='accordian')
      li
        .collapsible-header Arduino Uno board
          i.material-icons.right expand_more
        .collapsible-body
          p TESTING IF THIS WORKS
      li
        .collapsible-header Sensor shield for Arduino Uno
          i.material-icons.right expand_more
        .collapsible-body
          p TESTING IF THIS WORKS
      li
        .collapsible-header 8x Servo motors
          i.material-icons.right expand_more
        .collapsible-body
          p TESTING IF THIS WORKS
      li
        .collapsible-header Female to male extender cords (optional)
          i.material-icons.right expand_more
        .collapsible-body
          p TESTING IF THIS WORKS
      li
        .collapsible-header Xylophone
          i.material-icons.right expand_more
        .collapsible-body
          p TESTING IF THIS WORKS
      li
        .collapsible-header Popsicle sticks
          i.material-icons.right expand_more
        .collapsible-body
          p TESTING IF THIS WORKS
      li
        .collapsible-header 8x Wooden coffee stir sticks
          i.material-icons.right expand_more
        .collapsible-body
          p TESTING IF THIS WORKS
      li
        .collapsible-header 8x Small metal washers
          i.material-icons.right expand_more
        .collapsible-body
          p TESTING IF THIS WORKS
      li
        .collapsible-header Hot glue gun
          i.material-icons.right expand_more
        .collapsible-body
          p TESTING IF THIS WORKS
    
    ul.collection
      li.collection-item Arduino Uno board
      li.collection-item Sensor shield for Arduino Uno
      li.collection-item 8x Servo motors
      li.collection-item Female to male extender cords (optional)
      li.collection-item Xylophone
      li.collection-item Popsicle sticks
      li.collection-item 8x Wooden coffee stir sticks
      li.collection-item 8x Small metal washers
      li.collection-item Hot glue gun
