main {
  padding-left: 240px;
}

/* removing padding when side-nav bar is not displayed */
@media only screen and (max-width: 992px) {
  main {
    padding-left: 0;
  }
}

ol {
  padding-right: 40px;
}

a {
  color: black;
}

.xylophone {
  padding-top: 50px;
}

.key.expand {
  animation: expand 0.2s ease-in-out;
}

@keyframes expand {
  from {
    transform: scale(1.1);
  }

  to {
    transform: scale(1);
  }
}

.button-collapse .material-icons {
  padding-top: 20px;
  color: black;
}

.btn.key {
  height: 450px;
  width: 12.5%;
  float: left;
}

.card .card-title {
  font-size: 16px;
}

.materials {
  display: block;
  margin: auto;
}

.block {
  display: block;
}

.side-nav li.logo:hover, .side-nav li.logo.active {
  background: none;
}

.key p {
  font-size: 20px;
  margin: auto;
  color: black;
}

.logo img {
  width: 85%;
  display: block;
  margin: auto;
  padding-top: 25px;
}

a.brand-logo {
  height: auto;
}

.logo h4 {
  text-align: center;
}

.side-nav .collapsible-header {
  line-height: 64px;
}

.tutorial-nav li {
  font-weight: 300;
}

.side-nav .tutorial-nav a {
  height: 50px;
  line-height: 50px;
}
