html, body {
  height: 100%;
}

.valign-wrapper {
  height: 100%;
}

.key {
  height: 250px;
  margin: 5px;
  text-align: center;
  vertical-align: middle;
}

.key p {
  font-size: 20px;
  margin: auto;
}

.key.expand {
  animation: expand 0.2s ease-in-out;
}

@keyframes expand {
  from {
    transform: scale(1.15);
  }

  to {
    transform: scale(1);
  }
}
